<app-am-dialog title="Ajouter un prestataire" (onSave)="enregistrer()">
  <div class="tw-w-full">
    <form nz-form nzLayout="vertical" [formGroup]="prestataireForm">
      <div class="tw-grid tw-grid-cols-2 tw-gap-4">
        <nz-form-item>
          <nz-form-label>Nom </nz-form-label>
          <nz-form-control >
            <input type="text" nz-input placeholder="Entrez le nom du prestataire" formControlName="nom">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Prénoms </nz-form-label>
          <nz-form-control >
            <input type="text" nz-input placeholder="Entrez le prénom du prestataire" formControlName="prenoms">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Genre </nz-form-label>
          <nz-form-control >
            <nz-select nzPlaceHolder="Selectionnez le genre du prestataire" formControlName="genre">
              <nz-option nzLabel="Masculin" nzValue="MASCULIN"></nz-option>
              <nz-option nzLabel="Feminin" nzValue="FEMININ"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Téléphone </nz-form-label>
          <nz-form-control >
            <input type="text" nz-input placeholder="Entrez le numéro téléphone du prestataire" formControlName="telephone">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Ville </nz-form-label>
          <nz-form-control >
            <nz-select nzPlaceHolder="Selectionnez la ville du prestataire" formControlName="ville">
              <ng-container *ngFor="let item of villesOptions | async">
                <nz-option [nzValue]="item?.id" [nzLabel]="item?.label"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Commune</nz-form-label>
          <nz-form-control >
            <nz-select nzPlaceHolder="Selectionnez la commune du prestataire" formControlName="commune">
              <ng-container *ngFor="let item of communesOptions | async">
                <nz-option [nzLabel]="item?.label" [nzValue]="item?.id">
                </nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Quartier</nz-form-label>
          <nz-form-control >
            <nz-select nzPlaceHolder="Selectionnez le quartier du prestataire" formControlName="quartier">
              <ng-container *ngFor="let item of quartiersOptions | async">
                <nz-option [nzLabel]="item?.label" [nzValue]="item?.id">
                </nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Adresse </nz-form-label>
          <nz-form-control >
            <input type="text" nz-input placeholder="Entrez l'adresse du prestataire" formControlName="adresse">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Paiement </nz-form-label>
          <nz-form-control >
            <nz-select nzPlaceHolder="Le paiement à t'il été effectué ?" formControlName="aPayer">
              <nz-option nzLabel="Oui" [nzValue]="true"></nz-option>
              <nz-option nzLabel="Non" [nzValue]="false"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Prestation</nz-form-label>
          <nz-form-control >
            <nz-select nzPlaceHolder="Selectionnez la prestation du prestataire" formControlName="prestation">
              <ng-container *ngFor="let item of prestationsOptions | async">
                <nz-option [nzValue]="item?.id" [nzLabel]="item?.label" ></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
    {{prestataireForm.value | json}}
  </div>
</app-am-dialog>
